h1 {
  color: #fddb3a;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #52575d;
}

h3 {
  color: #41444b;
}

body {
  background-color: #f6f4e6;
  color: #41444b;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  height: 0px;
  width: 10%;
  border-color: #aaaaaa;
}